/* Main footer styles */
.footer {
    width: 100%;
    background: #22222B;
    color: #fff;
    padding: 3.75rem 0 2rem; 
}

.footer-container {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.logo-link {
    display: inline-block;
    /* margin-bottom: 1px; */
    /* Style for RVM text */
    color: #fff;
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: inherit;
    text-decoration: none;
}

/* Menu and social row */
.menu-block {
    display: flex;
}

.menu-block ul {
    display: flex;
    padding: 0;
    margin: 0 15px 0 0;
}

.menu-block ul li {
    list-style: none;
    margin-right: 20px;
}

.menu-block ul li:last-child {
    margin-right: 0;
}

.menu-block ul li a {
    font-size: 10px;
    font-family: inherit;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.7px;
    color: #ffffff;
    display: block;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    transition: color 0.2s;
}

.menu-block ul li a:hover {
    color: #fff;
}

.menu-block ul li a::after {
    position: absolute;
    top: 20px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all .2s ease-out;
    content: '';
    display: block;
}

.menu-block ul li a:hover::after {
    width: 100%;
    background-color: #fff;
}

.copyright {
    font-size: 10px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    margin: 0 0 0 10px;
    line-height: 18px;
    letter-spacing: 1.7px;
}

.menu-block.has-social {
    margin-top: 27px;
    margin-bottom: 10px;
}

.menu-block.has-social ul:first-child li {
    padding-top: 1px;
    padding-bottom: 1px;
}

.menu-block.has-social li {
    letter-spacing: 2px;
}

.menu-block.has-social li a {
    font-family: inherit;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2px;
    color: #fff;
    font-size: 12px;
    position: relative;
}

.menu-block.has-social li a svg {
    width: 20px;
    height: 20px;
}

.menu-block.has-social li a:hover svg,
.menu-block.has-social li a:hover path {
    /* Optionally add color change on hover */
    /* fill: #1db954;
    transition: fill 0.2s; */
}

.menu-block.has-social li a.spotify-link:hover path:first-child {
    fill: #222;
}

/* Responsive styles */
@media (max-width: 900px) {
    .footer-inner {
        flex-direction: column;
        justify-content: center;
    }

    .footer-left {
        align-self: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .logo-link {
        display: inline-block;
        margin: 0 auto 18px auto;
    }

    .menu-block {
        justify-content: center;
    }

    .footer-right {
        align-self: center;
    }

    .footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 600px) {
    .footer-left .menu-block {
        flex-direction: column;
    }

    .footer-left .menu-block > ul {
        margin-bottom: 10px;
        justify-content: center;
        margin-left: 0;
    }

    .footer-left .menu-block > ul li:last-child {
        margin-right: 0;
    }

    .footer-left .menu-block .copyright {
        margin-left: 0;
    }

    .footer-container {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (max-width: 400px) {
    .footer-left .menu-block:not(.has-social) > ul {
        display: flex;
        flex-direction: column;
    }

    .footer-left .menu-block:not(.has-social) > ul li {
        margin-right: 0;
    }
}

/* Back to top link */
#back-to-top-link {
    font-family: inherit;
    font-weight: 700;
    position: absolute;
    top: -44px;
    right: 15px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 600px) {
    #back-to-top-link {
        top: auto;
        bottom: -45px;
        left: 50%;
        margin-left: -43px;
        right: auto;
    }
}